<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
    <section id="wrapper">
        <h1>Chat</h1>


        <article>
            <ul id="messages">
                <li class="message">Test</li>
            </ul>

            <form>
                <input type="text" id="writer" placeholder="Podaj wiadomość"/>
            </form>
        </article>
    </section>
</body>
</html>